								/*****************************/
@font-face {
	font-family: the_bully;
	src: url(Fonts/TheBully.ttf);
}
@font-face {
	font-family: Manga;
	src: url(Fonts/MangaStyle.ttf);

}
								/*****************************/
body {
	background-color: red;
	background: url(Img/GameBckg.jpg) no-repeat fixed center center;
}

								/*THIS IS THE CONTENT WINDOWS*/
								/*****************************/
.maincontent {
	position: relative;
}
#MainPic {
	display: block;
	height: 300px;
	width: 475px;
	margin: auto;
	outline: 1px solid #ddd;
}
.Thing {
	display: table;
	background-color: #2377ff;
	padding: 5px;
	height: 425px;
	width: 525px;
	margin-bottom: 5px;	
	margin-left: auto;
	margin-right: auto;
	border: 3px solid lightblue;
	text-decoration: none;
	text-align: center;
	align-content: center;
	justify-content: center;

}
.Thing a {
	text-decoration: none;
	text-align: center;
}
.Thing p {
	font-size: 1.5em;
}
.content {
	display: inline-block;
	margin: auto;
	text-align: center;
	margin-top: 1em;
	position: relative;
}

									/*THIS IS THE NAVIGATION BAR*/
									/****************************/

body {
	margin: 0;
}
nav {
	font-size: 1.7em;
	letter-spacing: 0.04em;
	padding: 1.0em 1.0em 0.5em;
	margin: 0 0 5px 0;
	width: 100%;
}
nav ul {
	margin: auto;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin: 0;
}
nav li a, nav li a:visited {
	text-decoration: none;
	color: white;
	padding: 0.3em 0.6em;
}
nav li a:hover {
	color: white;
	background-color: rgba(252,251,243,0.75);
}
.centernav {
	text-align: center;

}
.navbar-fixed-top {
	margin: 0;
	padding: 0.35em;
	background-color: rgba(64,54,47, 1.0);
	position: fixed;
	z-index: 100;
}
.navbar {
	display: flex;
}

						/*This is for the search bar*/
#searchGroup {
	margin-left: 2.5em;
}
	/*More nav stuff*/
.navbar {
	margin: 0;
	padding: 0.35em;
	background-color: rgba(64,54,47, 1.0);
}
.navbar ul li.acctNav {
	float: center;

}
.navbar li {
	padding: 0 0.25em 0 0.2;
	vertical-align: middle;
}
.navbar ul li.acctNav a, .navbar ul li.acctNav a:visited{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	height: 1.3em;
	padding: 0.2em 0.2em 0em 0.2em;
	margin: 0 0 0 0;
	font-size: 1.8em;
	font-family: the_bully
}
.navbar ul li.Title {
	float: left;
}
		/*THIS IS THE HOME BUTTON*/

.navbar ul li.Title a, .navbar ul li.acctNav a:visited{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	height: 1.0em;
	padding: 0.2em 0.2em 0em 0.2em;
	margin-right: 3em;
	font-size: 1.8em;
	font-family: the_bully
}
.navbar ul li.Title a.active {
	background-color: #C64322	
}
.navbar ul li.Title a:hover {
	color: #3480f9;
}

		/*Cut Off for Home Button*/
.navbar ul li.acctNav a:hover {
	background-color: rgba(252,251,243,0.7);
	color: #3480f9;
}
.navbar li a, .navbar li a:visited { padding: 0;}
.navbar li a:hover { background-color: transparent;}
.navbar ul li input#search {
	vertical-align: middle;
	margin: 0 0 0 0;
}

.navbar ul li.acctNav::before, .navbar ul li input#search::before {
	color: #FCFBE6;
}

						/*****************************/
								/*Games Page*/
						/*****************************/
.filterbox {
	background-color: rgba(64,54,47, 1.0);
	float: left;
	margin: 5px;
	width: 200px;
	height: 400px;
}
.filterbox ul {
	margin-left: -2em;
}		
.filterbox ul li {
	list-style: none;
}
.product {
	display: inline-block;
	width: 240px;
	height: 375px;
	background-color: rgba(64,54,47, 1.0);
	position: relative;
	border-radius: 25px;
	margin-top: 10px;
	vertical-align: middle;
	white-space: nowrap;
}
.product button {
	margin-top: 2px;
}
.pictureG {
	height: 283px;
	width: 200px;
	display: inline-block;
	vertical-align: middle;
}
.button {
	height: 100% ;
	display: inline-block flex;
	position: relative;
	vertical-align: middle;
}
.helper {
	margin-top: -6em;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.helpbutton {
	display: inline-block flex;
	height: 100%
	vertical-align: middle;
}